<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat App</title>
    <script src="js/vue.js"></script>
    <script src="js/index.js"></script>
    <script src="js/axios.js"></script>
    <script src="js/showdown.js"></script>
    <link rel="stylesheet" href="css/mkdown.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/display.css">
    <link rel="stylesheet" href="css/all.css">
    <link rel="stylesheet" href="css/chat.css">
    <link rel="shortcut icon" href="favicon.ico">
</head>
<body>
    <div id="app">
        <el-container style="max-width: 800px;margin: 0 auto;">
            <el-header class="header" style="position: relative;">
                Chat App v3.1
                <div class="speak_switch">
                    <el-switch v-model="hasSpeechSynthesisUtterance" inline-prompt active-text="朗读模式开启" inactive-text="朗读模式关闭" @change="toggleVoice"></el-switch>
                </div>
                <div class="switch_bg">
                    切换背景 <i class="fas fa-arrow-right"></i>
                </div>
            </el-header>
            <el-main class="chat-box">
                <div class="chat-records" ref="chatRecords">
                    <el-timeline>
                        <el-timeline-item v-for="(message, index) in messages" :key="index">
                            <div class="chat-record-item" v-if="message.isRight" :class="{ 'is-right': message.isRight }">
                                <div class="message-bubble" :class="{ 'is-right': message.isRight }">{{ message.content }}</div>
                                <div class="el-avatar" :style="{ 'background-color': message.isRight ? '#e6a23c' : 'rgb(181 91 91)' }">{{ message.avatar }}</div>
                            </div>
                            <div class="chat-record-item" v-else :class="{ 'is-right': message.isRight }">
                                <div class="el-avatar" :style="{ 'background-color': message.isRight ? '#e6a23c' : 'rgb(181 91 91)' }">{{ message.avatar }}</div>
                                <div class="message-bubble markdown-body" :class="{ 'is-right': message.isRight }"  v-html="message.content"></div>
                            </div>
                        </el-timeline-item>
                    </el-timeline>
                </div>
            </el-main>
            <el-footer>
                <div class="chat-input">
                    <el-input id="chat_input" v-model="inputMessage" placeholder="请输入消息内容">
                        <el-button slot="append" @click="toggleMicrophone" ref="microphoneBtn">
                            <i :class="['el-icon-microphone', isRecording ? 'el-icon-loading' : '']"></i>
                        </el-button>
                    </el-input>
                    <el-button id="submit" type="primary" :loading="loading" @click="sendMessage" v-if="loading"></el-button>
                    <el-button id="submit" type="primary" :loading="loading" @click="sendMessage" v-else>发送</el-button>
                </div>
            </el-footer>
            <div  class="author-info" v-show="showAuthorInfo">
                <div class="authors" @mouseenter="showEmail = true" @mouseleave="showEmail = false">
                    <div class="author" >
                        <img src="images/cvcat.jpg" alt="Author 1">
                         <span>cvcat</span>
                    </div>
                    <el-popover placement="bottom" trigger="manual" v-model="showEmail">
                        <a href="tencent://Message/?Uin=992822653&amp;websiteName=q-zone.qq.com&amp;Menu=yes" target="_blank">
                            <div>{{ email[0] }}</div>
                        </a> 
                    </el-popover>
                    <div class="author">
                        <img src="images/crushend.jpg" alt="Author 1">
                        <span>crush</span>
                    </div>
                    <el-popover placement="bottom" trigger="manual" v-model="showEmail">
                        <a href="tencent://Message/?Uin=2925663480&amp;websiteName=q-zone.qq.com&amp;Menu=yes" target="_blank">
                            <div>{{ email[1] }}</div>
                        </a> 
                    </el-popover>
                </div>
                <hr>
                <span>💵0.02美元 / 1K 字符</span>
                <el-skeleton style="width: 100%;text-align: center;margin: 10px 0;" :loading="today_cost_loading" animated>
                    <template #template>
                            <el-skeleton-item variant="p" style="text-align: center" />
                    </template>
                    <template #default>
                        <div style="text-align: center;">{{ today_cost }}</div>
                    </template>
                </el-skeleton>
                <el-skeleton style="width: 100%;text-align: center;margin-bottom: 10px;" :loading="balance_loading" animated>
                    <template #template>
                            <el-skeleton-item variant="p" style="text-align: center" />
                    </template>
                    <template #default>
                        <div style="text-align: center;">{{ balance }}</div>
                    </template>
                </el-skeleton>
                <span style="height: 22px;line-height: 22px;">赞助👇</span>
                <img src="images/pay_zfb.jpg" alt="" width="150px">
                <hr>
                <span class="close-btn" @click="showAuthorInfo = false" style="height: 22px;line-height: 22px;">x</span>
            </div>
        </el-container>
    </div>
    <script src="js/chat.js"></script>
</body>
</html>
    